.body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1;
}

.textarea {
  background: transparent;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  font-size: 12px;
  text-align: center;

}

.time-block {
  text-align: center;
  border-radius: 15px;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(7, 7, 7);
  border-left: 1px solid rgb(7, 7, 7);
  border-right: 1px solid rgb(7, 7, 7);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding: 0% 5% 0% 5%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* //havent decided yet on the name to use? */
.container {
  border: 0px solid black;
  border-radius: 0px 5px 5px 0px;
  background-color: #b2baae;
  color: #000000;
  border-top: none;
  padding:25px
}

.col-sm-{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  text-align: ;
}